

<div class="col-md-12" id="left">
<div id="map-canvas"></div>
  <div class="row">
    <div class="col-xs-8" id="left">
    
      <h2>桌遊認證店家</h2>
      
      <!-- item list -->
      <div class="panel panel-default">
        <div class="panel-heading"><a href="">方塔桌遊</a></div>
      </div>
      <p>方塔，The Fun Tower，我們希望透過桌遊，建立一個充滿樂趣、笑聲的快樂城堡。 同時，我們也致力於桌遊的推廣，透過桌遊，讓人們之間的互動，更直接、更簡單</p>
      
      <hr>
      
      <div class="panel panel-default">
        <div class="panel-heading"><a href="">瘋桌遊</a></div>
      </div>
      <p>桌上遊戲顧名思義，就是在桌子或其他任何平面上進行的遊戲！您和朋友會在遊戲中體驗各種不同的情境，運用您的智慧與活力和朋友們鬥智。</p>
      
      <hr>
      
      <div class="panel panel-default">
        <div class="panel-heading"><a href="">斜角巷</a></div>
      </div>
      <p>哲人柏拉圖曾說：「要了解一個人，觀察他玩一個小時的遊戲，勝過和他談一年話。」</p>
      
      <hr>
      
      <div class="panel panel-default">
        <div class="panel-heading"><a href="">勃根地</a></div>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
        Aliquam in felis sit amet augue.</p>
      
      <hr>
      <!-- /item list -->
      
     
      <hr>      

    </div>
    <div class="col-xs-4"><!--map-canvas will be postioned here--></div>
    
  
</div>
<h1><%= link_to "討論版", groups_path %></h1>
<!-- end template -->

  <!-- script references -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&extension=.js&output=embed"></script>
    <script src="js/scripts.js"></script>
  